html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #c5bfbf;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  font-size: 16px;
  max-width: 100%;
}

h4{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.topnav{
  font-weight: 1000;
  font-size: 17px;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.header {
  background-color: #131212;
  font-weight: 1000;
  opacity: 0.9;
  text-align: center;
  padding: 5px;
  color: rgb(255,250,250,0.90);
  text-shadow: 2px 2px 4px rgb(0,0,0,0.75);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  
}

.textHeader{
  text-align: center; 
  flex-grow: 1; 
}


.mifoto{
  width: 50px;
  float: right;
}

.header > img{
  display: block;
  border-radius: 12%;
  border: 2px solid #333;
  width: 120px; 
  margin: 10px; 
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.turnOff{
  size: 5px;
}

.logoutImg{
  width: 20px;
}

li {
  float: left;
  display: inline;
}
.logoutLi{
  float: left;
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  z-index: 1;
  position: relative;
  font-size: 17px;
  font-weight: 200;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}


li a:hover {
  background-color: #9bda05;
}

.loginContent, .container, #topnav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card, .loginCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  border: 1px solid rgb(211,211,211,0.5);
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  background-color: #333;
}

.loginCard{
  justify-content: center;
  align-items: center;
}

.cardTitle {
  font-size: 24px;
  padding: 30px 30px 0 30px;
  font-weight: bold;
  color: #f2f2f2;
}

.cardBody {
  padding: 30px;
  flex: 1 1 100%;
  color: #a9a4a4;
}

.cardFooter {
  background: #009884;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}

.cardFooter a {
  text-decoration: none;
  color: rgba(26, 17, 83, 0.8);
  text-shadow: 2px 2px 4px rgb(0,0,0,0.25);
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}

.footer {
  background-color: #0098848e;
  opacity: 0.9;
  text-align: center;
  padding: 20px;
  color: rgb(255,250,250,0.90);
  text-shadow: 2px 2px 4px rgb(0,0,0,0.75);
}

.miLogo{
  width: 4%;  
}

button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }

 .calculate{
  font-weight: 300;
  font-size: 13px;
 }

 .dropbtn{
  font-weight: 200;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #9bda05;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }

 button:hover::before {
  width: 100%;
 }

 
#loginForm {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

#loginForm .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

#loginForm input[type="text"]:focus,
#form input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

#loginForm input[type="button"] {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

#loginForm input[type="button"]:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}

#loginMessage{
  text-align: center;
  font-weight: bold;
}






